<div class="w-full">
    <div class="bg-ach-orange py-6">
        <div class="centered-container">
            <h2 class="text-white">What next?</h2>
        </div>
    </div>
    <div class="bg-ach-yellow py-12">
        <div class="centered-container">
            <div class="grid gap-y-3 sm:grid-cols-2 md:gap-x-5 md:grid-cols-3">
                <div class="departmentCTA">
                    <img src="/images/icon-contact.png" width="60px" height="60px">
                    <span>Call Us:</span>
                </div>
                <div class="departmentCTA">
                    <img src="/images/icon-award.png" width="60px" height="60px">
                    <span>Tell Us How We're Doing</span>
                </div>
                <div class="departmentCTA">
                    <img src="/images/mychart_login.png" width="60px" height="60px">
                    <span>Sign in to MyChart</span>
                </div>
            </div>
        </div>
    </div>
</div>