<div class="topnav">
    <div class="bg-ach-blue px-4 py-4 text-white text-center md:hidden">
        <img src="/images/ach-inverse-logo.png" width="70px" height="30px">
    </div>
    <div class="bg-ach-light-green py-2 text-white text-center">
        Drive-Thru COVID-19 testing now available in Akron and Boardman.
    </div>
    <div class="bg-ach-blue px-4 py-4 text-white text-xs text-center hidden grid space-x-6 uppercase md:block">
        <span class="headerLink">
            <a href="">For Family/Patients</a>
        </span>
        <span class="headerLink">
            <a href="">For Job Seekers</a>
        </span>
        <span class="headerLink">
            <a href="">For Healthcare Professionals</a>
        </span>
        <span class="headerLink">
            <a href="">For Students/Residents</a>
        </span>
        <span class="headerLink">
            <a href="">For Donors/Volunteers</a>
        </span>
        <span class="headerLink">
            <a href="">Donate Now</a>
        </span>
    </div>
    <div class="centered-container">
        <div class="hidden md:block md:flex py-6">
            <span>
                <img src="/images/site-logo.png" width="194px" height="68px">
            </span>
            <span>For Family Members or Patients</span>
        </div>
        <div class="flex bg-ach-blue px-4 text-white text-center rounded-lg space-x-4">
            <span class="px-2 py-4 hover:bg-ach-hover-blue">
                <svg class="" viewBox="0 0 100 80" width="20" height="20" fill="white">
                    <rect width="90" height="15"></rect>
                    <rect y="30" width="90" height="15"></rect>
                    <rect y="60" width="90" height="15"></rect>
                </svg>
            </span>
            <span class="px-2 py-4 hover:bg-ach-hover-blue">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="24" height="24"
                viewBox="0 0 24 24"
                style=" fill:white;">
                    <path d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z">
                    </path>
                </svg>
            </span>
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">Find-A-Provider</span>
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">Find-A-Location</span>
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">Services</span>
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">Health Info</span>
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">About Us</span>
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">Research</span>   
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">Your Visit</span>   
            <span class="px-2 py-4 hover:bg-ach-hover-blue text-white">Quicklinks</span>   
        </div>
    </div>
</div>
