---
{
    "stream": {
        "$id": "departments",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "address", 
            "mainPhone",
            "description", 
            "photoGallery",
            "slug",
            "c_relatedFacility.name",
            "c_relatedFacility.c_shortName",
            "c_relatedFacility.address",
            "c_relatedFacility.mainPhone",
            "c_relatedFacility.websiteUrl",
            "c_relatedFacility.photoGallery",
            "c_relatedArticles.name",
            "c_relatedArticles.landingPageUrl",
            "c_relatedArticles.photoGallery",
            "c_relatedProfessionals.name",
            "c_relatedProfessionals.firstName",
            "c_relatedProfessionals.lastName",
            "c_relatedProfessionals.degrees",
            "c_relatedProfessionals.c_providerListCategory",
            "c_relatedProfessionals.c_providerTitle",
            "c_relatedProfessionals.acceptingNewPatients",
            "c_relatedProfessionals.headshot",
            "c_relatedProfessionals.slug"
        ], 
        "filter" : {
            "entityTypes": [
                "ce_department"
            ]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <title>{{name}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
        <div class="w-full">
            {{>nav}}
            <div class="centered-container grid gap-y-5">
                <div class="section">{{>department-core-information}}</div>
                <div class="section">{{>department-locations c_relatedFacility}}</div>
                <div class="section">{{>department-professionals}}</div>
                <div class="section">{{>department-relatedStories c_relatedArticles}}</div>
            </div>
            <div class="section">{{>department-whatNext}}</div>
            <div class="w-full bg-ach-blue">
                <div class="centered-container">
                    {{>footer}}
                </div>
            </div>
        </div>
    </body> 
</html>