---
{
    "stream": {
        "$id": "location",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "address", 
            "mainPhone",
            "fax",
            "logo",
            "photoGallery",
            "slug",
            "c_shortName",
            "c_relatedDepartments.name",
            "c_relatedDepartments.landingPageUrl",
            "c_relatedDepartments.slug",
            "c_relatedProfessionals.name",
            "c_relatedProfessionals.firstName",
            "c_relatedProfessionals.lastName",
            "c_relatedProfessionals.degrees",
            "c_relatedProfessionals.c_providerListCategory",
            "c_relatedProfessionals.c_providerTitle",
            "c_relatedProfessionals.acceptingNewPatients",
            "c_relatedProfessionals.headshot",
            "c_relatedProfessionals.slug"
        ], 
        "filter" : {
            "savedFilterIds": [
                "674556459"
            ]
        },
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        {{!-- <link rel="stylesheet" type="text/css" href="./style.css" /> --}}
        <script src="/map.js"></script>
        <title>{{name}}</title>
        {{!-- {{>schema}} --}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
        <div class="w-full">
            {{>nav}}
            <div class="centered-container grid gap-y-5">
                <div class="section">{{>facility-core-information}}</div>
                <div class="section">{{>facility-relatedProfessionals}}</div>
                <div class="section">{{>facility-map}}</div>
            </div>
            <div class="w-full bg-ach-blue">
                <div class="centered-container">
                    {{>footer}}
                </div>
            </div>
        </div>
    </body> 
</html>