---
{
    "stream": {
        "$id": "professionals",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "address", 
            "mainPhone",
            "description", 
            "hours",
            "photoGallery",
            "slug",
            "acceptingNewPatients",
            "c_providerTitle",
            "geocodedCoordinate",
            "c_relatedFacility.name",
            "c_relatedFacility.c_shortName",
            "c_relatedFacility.address",
            "c_relatedFacility.mainPhone",
            "c_relatedFacility.websiteUrl",
            "c_relatedFacility.photoGallery",
            "c_relatedDepartments.name",
            "c_relatedDepartments.landingPageUrl",
            "c_relatedDepartments.slug"
        ], 
        "filter" : {
            "entityTypes": [
                "healthcareProfessional"
            ]
        },
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
        <div class="w-full">
            {{>nav}}
            <div class="centered-container grid gap-y-5">
                <div class="section">{{>professional-core-information}}</div>
                <div class="section">{{>locations c_relatedFacility}}</div>
            </div>
            <div class="section mb-0">{{>department-whatNext}}</div>
            <div class="w-full bg-ach-blue">
                <div class="centered-container">
                    {{>footer}}
                </div>
            </div>
        </div>
    </body> 
</html>